@import url("./styles.css");
@import url("./styles-char.css");

:root {
  --primary: #e0d8b0;
  --secondary: #15133c;
  --ternary: #fdf6ec;
  --alternative: #bcead5;
}
.content{
  background: rgb(163, 151, 151);
}

.card {
  align-items: center;
  justify-content: space-evenly;
}

.card:nth-child(even) {
  flex-direction: row;
}

.image-card {
  max-height: 100px;
}
